:root {
    --pico-spacing: 0rem;
    --primary-color: #000;
    --primary-light: #f6cd70;
    --primary-dark: rgba(246, 205, 112, 0.6);
    --success-color: #33cc33;
    --error-color: #ff4444;
    --text-primary: #f6cd70;
    --text-secondary: #666666;
    --background-light: #ffffff;
    --background-dark: #000000;
  }

  @media only screen and (prefers-color-scheme: dark) {
      :root:not([data-theme]) {
        --pico-muted-border-color: #00000000;
      }
  }
  :root[data-theme=dark] {
    --pico-background-color: var(--primary-color);
    --text-primary: #f6cd70;
    --text-secondary: #666666;
    --background-color: var(--background-dark);
  }

  @media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
      --pico-background-color: var(--primary-color);
      --text-primary: #f6cd70;
      --text-secondary: #666666;
      --background-color: var(--background-dark);
    }
  }

  @media only screen and (prefers-color-scheme: light) {
    :root:not([data-theme]) {
      --pico-background-color: var(--background-light);
      --text-primary: #333333;
      --text-secondary: #666666;
      --background-color: var(--background-light);
    }
  }

  button {
    --pico-background-color: #000;
    --pico-border-color: #000;
  }